<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Test Title</title>
    <link rel="stylesheet" type="text/css"
          href="../static/styles/root.css" th:href="@{/styles/root.css}" >
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="headerPersonInfo">
                <div class="headerPhoto"></div>
                <div>
                    <div>Протоиерей Сергий Коротких</div>
                    <div>Личный сайт</div>
                </div>
            </div>
            <div>
                <div class="searchbar">Введите тест для поиска</div>
            </div>
        </div>
        <div>
            <div class="nav">
                <div>Будем знакомы</div>
                <div>Учебно-методические материалы</div>
                <div>Проекты</div>
                <div>Мои печатные издания</div>
                <div>Мои видео-материалы</div>
                <div>Публикации моих наставников, друзей и знакомых</div>
                <div>Cобытия</div>
            </div>
            <div class="posts">
                <div class="post imageLeftPost">
                    <div class="postImage"></div>
                    <div class="postInfo">
                        <h5>15.01.2024</h5>
                        <h3>Семинар в семейном центре “Рождество”</h3>
                        <p>Подарком для педагогов «Рождества» и семейного центра «Лествица» из Волгограда
                            стал семинар-дискуссия «Антропологические основания современного образования»
                            в нашем центре с протоиереем Сергием Коротких, руководителем Отдела религиозного
                            образования Калининградской епархии Русской Православной Церкви, настоятелем
                            Крестовоздвиженского собора города Калининграда.</p>
                    </div>
                </div>
                <div class="post imageRightPost">
                    <div class="postInfo">
                        <h5>15.01.2024</h5>
                        <h3>Семинар в семейном центре “Рождество”</h3>
                        <p>Подарком для педагогов «Рождества» и семейного центра «Лествица» из Волгограда
                            стал семинар-дискуссия «Антропологические основания современного образования»
                            в нашем центре с протоиереем Сергием Коротких, руководителем Отдела религиозного
                            образования Калининградской епархии Русской Православной Церкви, настоятелем
                            Крестовоздвиженского собора города Калининграда.</p>
                    </div>
                    <div class="postImage"></div>
                </div>
            </div>
            <div class="feedback">
                <p>Сайт не содержит форума и возможности вести обсуждения, но Вы можете оставить свой вопрос
                    через форму обратной связи
                </p>
                <button>Написать</button>
            </div>
            <div class="about">
                <h3>О нас</h3>
                <hr>
                <h4>2024 год</h4>
            </div>
        </div>
    </div>
</body>
</html>