.mainWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.hrMidi {
    width: 70%;
    border: none;
    height: 1px;
    color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(204,204,204,1) 50%,rgba(255,255,255,0) 100%);
    margin: 0;
}
.lastPost {
    margin: 2rem;
}
.lastVideoPost {
    margin: 2rem;
}
.feedback {
    margin: 2rem;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedbackPrompt {
    width: 66%;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
}
.feedback button {
    flex: 0;
    padding: .5rem 2rem;
    appearance: none;
    background: transparent;
    border: 1px solid #545454;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
}
.feedback button:hover {
    background: #545454;
    color: white;
}
.feedback button:active {
    background: #767676;
}
.about {
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.icons {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}
.icons div {
    height: 32px;
    width: 32px;
    background: #bdbdbd;
    border-radius: 50%;
    border: 1px solid #757575;
}
.yearLabel {
    font-weight: 300;
    font-size: 0.9rem;
}

