.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}
.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: white;

    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

    position: relative;
    z-index: 1;
}
.main {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    width: 100%;
    z-index: 0;
}
.left {
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    z-index: -1;
}
.center {
    position: relative;
    background: #ffffff;
    width: 1080px;
    flex-shrink: 0;
    padding: 2rem;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;

    z-index: 0;
}
.right {
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    z-index: -1;
}
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: white;
    color: black;
    text-align: center;
    z-index: 1;

    -webkit-box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
    gap: 1rem;
}
.createPostPanel {
    width: 800px;
    height: 100vh;
    display: flex;
    flex-flow: column;
}
.createPostHeader {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.createPostHeader p {
    margin: 0;
    padding: 0.2rem;
    text-align: center;
    font-size: 1.2rem;
}
.createPostHeader hr {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}
.createPostForm {
    flex: 1;
    padding: 0 0.2rem;
    display: flex;
    flex-flow: column;
    gap: 0.3rem;
}
.choseImageBlock {
    /*padding: 0.5rem 0;*/

}
.titleInput {
    font-size: 1rem;
    outline: none;
}
.contentTextarea {
    flex: 1;
    resize: none;
    outline: none;
}
.submitButton {
    padding: 0.3rem;
}